In [15]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [16]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Thompson,CA,55.7435,-97.8558,-6.91,73,100,5.66,overcast clouds
1,1,Hamilton,US,39.1834,-84.5333,7.21,59,100,7.72,overcast clouds
2,2,Ushuaia,AR,-54.8000,-68.3000,7.79,70,75,11.83,light intensity drizzle
3,3,Butembo,CD,0.1500,29.2833,16.92,70,90,1.90,overcast clouds
4,4,Minot,US,48.2325,-101.2963,12.12,26,20,11.32,few clouds

In [17]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 25
What is the maximum temperature you would like for your trip? 55

In [18]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
13,13,Hilo,US,19.7297,-155.0900,26.85,72,20,3.60,few clouds
29,29,Opuwo,NaN,-18.0607,13.8400,25.18,54,74,1.93,broken clouds
30,30,Atuona,PF,-9.8000,-139.0333,25.86,78,17,3.64,few clouds
33,33,Calatagan,PH,13.8833,120.6500,26.41,73,87,8.38,overcast clouds
34,34,Kapaa,US,22.0752,-159.3190,26.22,72,40,6.69,scattered clouds
35,35,Georgetown,MY,5.4112,100.3354,26.96,93,20,2.24,few clouds
36,36,Avarua,CK,-21.2078,-159.7750,28.03,78,78,2.57,broken clouds
38,38,Kavieng,PG,-2.5744,150.7967,27.18,77,100,4.62,moderate rain
40,40,Morros,BR,-9.4467,-46.3003,27.95,63,37,2.34,scattered clouds
41,41,Bathsheba,BB,13.2167,-59.5167,29.34,58,20,9.26,few clouds

In [19]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                172
City                   172
Country                171
Lat                    172
Lng                    172
Max Temp               172
Humidity               172
Cloudiness             172
Wind Speed             172
Current Description    172
dtype: int64

In [20]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
13,13,Hilo,US,19.7297,-155.0900,26.85,72,20,3.60,few clouds
30,30,Atuona,PF,-9.8000,-139.0333,25.86,78,17,3.64,few clouds
33,33,Calatagan,PH,13.8833,120.6500,26.41,73,87,8.38,overcast clouds
34,34,Kapaa,US,22.0752,-159.3190,26.22,72,40,6.69,scattered clouds
35,35,Georgetown,MY,5.4112,100.3354,26.96,93,20,2.24,few clouds
...,...,...,...,...,...,...,...,...,...,...
688,688,Lakki Marwat,PK,32.6079,70.9114,25.51,12,0,1.05,clear sky
689,689,Sao Paulo De Olivenca,BR,-3.3783,-68.8725,30.16,62,87,1.47,overcast clouds
690,690,Labuhan,ID,-6.8844,112.2051,25.22,84,99,2.13,overcast clouds
694,694,Arlit,NE,18.7369,7.3853,31.48,3,100,3.60,overcast clouds
698,698,Rawson,AR,-43.3002,-65.1023,26.37,15,21,8.06,few clouds

In [21]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
13,Hilo,US,26.85,few clouds,19.7297,-155.0900,
30,Atuona,PF,25.86,few clouds,-9.8000,-139.0333,
33,Calatagan,PH,26.41,overcast clouds,13.8833,120.6500,
34,Kapaa,US,26.22,scattered clouds,22.0752,-159.3190,
35,Georgetown,MY,26.96,few clouds,5.4112,100.3354,
36,Avarua,CK,28.03,broken clouds,-21.2078,-159.7750,
38,Kavieng,PG,27.18,moderate rain,-2.5744,150.7967,
40,Morros,BR,27.95,scattered clouds,-9.4467,-46.3003,
41,Bathsheba,BB,29.34,few clouds,13.2167,-59.5167,
47,Palauig,PH,25.99,broken clouds,15.4350,119.9045,

In [22]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
len(hotel_df)

171

In [27]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
13,Hilo,US,26.85,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
30,Atuona,PF,25.86,few clouds,-9.8000,-139.0333,Villa Enata
33,Calatagan,PH,26.41,overcast clouds,13.8833,120.6500,Coral Bay Rest House
34,Kapaa,US,26.22,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
35,Georgetown,MY,26.96,few clouds,5.4112,100.3354,Cititel Penang
...,...,...,...,...,...,...,...
688,Lakki Marwat,PK,25.51,clear sky,32.6079,70.9114,Noor Hotel
689,Sao Paulo De Olivenca,BR,30.16,overcast clouds,-3.3783,-68.8725,
690,Labuhan,ID,25.22,overcast clouds,-6.8844,112.2051,DoubleFAG
694,Arlit,NE,31.48,overcast clouds,18.7369,7.3853,Case de Passage De la Prefecture
698,Rawson,AR,26.37,few clouds,-43.3002,-65.1023,Hosteria Sampedro

In [28]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [29]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))